h1.game-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 60px;
}

h1.countdown,
h1.game-over,
h1.congratulations {
  margin-top: 200px;
  text-align: center;
  font-size: 72px;
}

.winning-turns {
  text-align: center;
}

.ui.button.start-button {
  margin-left: 177px;
}

.memory-card-container {
  width: 480px;
  margin: 50px auto 0 auto;
}

.game-stats {
  position: relative;
  margin-bottom: 20px;
}

.stopwatch {
  position: absolute;
  right: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

.memory-card {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #ecf0f1;
  list-style-type: none;
  display: block;
  float: left;
  padding: 0;
  margin: 0 20px 20px 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.memory-card.match {
  background-color: #2c3e50;
}

.memory-card-front {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #2ecc71;
  position: absolute;
  top: 0;
  left: 0;
}

.showing {
  left: 100px;
}

i.icon {
  margin: 32px 0 0 32px;
  color: #2ecc71;
}

i.icon.question {
  color: #ecf0f1;
}